<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
      <title>Event</title>
</head>
<body>
    <header>
        <a href="/event/<%=updateevent.id%>">
          <button>Event-Details</button>
        </a>
        <h3>Event Management</h3>
        <a href="/event/new">
          <button>Add Event</button>
        </a>
      </header>
      <main>
          <h2>Update Event Form</h2>
        <form action="/event/<%=updateevent.id%>/" method="POST">
            <input type="text" name="title" id="title" placeholder="Title" value="<%=updateevent.title%>">
            <input type="text" name="summary" id="summary" placeholder="Summary" value="<%=updateevent.summary%>">
            <input type="text" name="host" id="host" placeholder="Host" value="<%=updateevent.host%>">
            <input type="date" name="startdate" id="startdate" placeholder="Startdate" value="<%=start%>">
            <input type="date" name="endDate" id="endDate" placeholder="EndDate" value="<%=end%>">
            <input type="text" name="eventcategory" id="eventcategory" placeholder="Eventcategory" value="<%=updateevent.eventcategory%>">
            <input type="text" name="location" id="location" placeholder="Location" value="<%=updateevent.location%>">
            <button type="submit" class="submit">SUBMIT</button>
        </form>
      </main>
  

</body>
</html>